<main id="main">

  <!--==========================
    Portfolio Section
  ============================-->

  <!--==========================
  Call To Action Section
  ============================-->
  <section id="call-to-action">
    <div class="container wow fadeIn">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Call To Action</h3>
          <p class="cta-text"> Participate in our real environment challenge! </br> To facilitate the next generation of powerful perceptive algorithms, we propose Gibson Challenge: a set of predefined tasks including navigation, object retrieval, collision avoidance, locomotion, etc. Try them out with your algorithms.</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">Participate (Coming soon)</a>
        </div>
      </div>

    </div>
  </section><!-- #call-to-action -->

</main>
