<html>

<form action = "" method = "post">

	Agent: <select name='agent'>
	<option value="Husky">Husky</option>
	<option value="Turtlebot">Turtlebot</option>
	<option value="Ant">Ant</option>
	</select>


	Environment:
	<select name='env'>
	<option value="space1">space1</option>
	<option value="space2">space2</option>
	<option value="space3">space3</option>
	</select>

        <input type="submit" name="action" value="run" />
        <input type="submit" name="action" value="kill" />
</form>


</html>